* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: aqua;
}
li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 5px;
	list-style: none;
	background-color: #ccc;
	margin-bottom: 10px;
}
button {
	background-color: blueviolet;
	color: #fff;
	border: none;
	padding: 5px 10px;
}
input {
	padding: 5px 10px;
}
.card {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 90%;
	max-width: 500px;
	padding: 20px;
	background-color: #fff;
	margin: 20px auto;
}
.clear-tasks,
form {
	display: flex;
	gap: 10px;
	align-items: center;
}
.btn-delete {
	background-color: orangered;
	color: #fff;
	border: none;
}
